<div class="col-md-12">
    <center>
        <img src="~/resimler/slider3.png" style="width:75%;height:400px;" class="img-fluid" alt="..."><br /><br /><br /><br /><br />
    </center>

    <div class="mw-parser-output">
        <p>
            <b>Elektronik ticaret</b> ya da kısaca <b>e-ticaret</b>, 1995 yılından sonra İnternet kullanımının artmasıyla ortaya çıkan, ticaretin elektronik ortamda yapılması kavramıdır.
        </p><p>
            Mal ve hizmetlerin üretim, tanıtım, satış, sigorta, dağıtım ve ödeme işlemlerinin bilgisayar ağları üzerinden yapılmasıdır. Elektronik ticaret, ticari işlemlerden biri veya tamamının elektronik ortamda gerçekleştirilmesi yoluyla reklam ve pazar araştırması, sipariş ve ödeme, teslimat olmak üzere üç aşamadan oluşmaktadır.
        </p><p>
            Elektronik ticaret, tüm dünyada ticaretin serbestleştirilmesi eğilimi ile birlikte, 2000'li yıllardan sonra yaşanan ve bilgi iletişimini kolaylaştıran teknolojik gelişmelerin bir parçası olarak ortaya çıkmıştır. Geleneksel pazarlama yöntemlerine, İnternet olanaklarını da ekleyen kuruluşlar, sadece belirli bir kitleye satış yapabilmenin ötesine geçip, üretkenliği ve yaratıcılığı arttıran küresel e-ticaret bağlantıları kurma şansını elde edebilmeye başlamıştır. Eskiden birçok şirket televizyon, gazete, radyo gibi araçları kullanarak potansiyel müşterilerine ulaşmaya uğraşırken, bugün bunlara İnternet üzerinden reklamcılık da eklenmiştir.
        </p><p>
            Elektronik ticaretin araçları, birbirleriyle ticaret yapanların ticari işlemlerini kolaylaştıran telefon, faks, bilgisayar, elektronik ödeme ve para transfer sistemleri, elektronik veri değişimi sistemleri (Electronic Data Interchange-EDI), İnternet gibi her türlü teknolojik ürünlerdir. EDI, ticaret yapan iki kuruluş arasında, insan faktörü olmaksızın bilgisayar ağları aracılığı ile belge ve bilgi değişimini sağlayan bir sistem olarak elektronik ticaretin önemli bir aracıdır. Elektronik ticaret açısından en etkin araç olarak kabul edilen yeni İnternet teknolojileri ise ses, görüntü ve yazılı metni aynı anda, daha hızlı ve güvenli bir şekilde ilettiğinden, İnternet üzerinden yapılan bu işlemlerin maliyeti diğer araçlara oranla hayli düşüktür.
        </p><p>
            Geçmişte bir ölçüye kadar kapalı bilgisayar ağları üzerinden gerçekleştirilen elektronik ticaret uygulamaları, güvenli olmakla birlikte maliyeti yüksek sistemlerdir. Günümüzde, açık bilgisayar ağı olan internet, elektronik ticaret için çok daha uygun bir altyapıdır. İnternet aracılığıyla, artık kapalı yapıdan açık yapıya geçerek küreselleşen ağların getireceği avantajlardan yararlanılmaktadır. Bu da özellikle KOBİ'lerin (Küçük ve Orta Ölçekli İşletmelerin) dünya ticaretinde daha fazla yer almalarına olanak sağlamaktadır. Elektronik ticaret, özellikle KOBİ'ler için çok uygun bir ticaret şeklidir. Elektronik ticaret, ürün seçeneklerinin artmasını, ürünlerin kalitesinin yükselmesini ve daha hızlı bir şekilde ödenerek teslim alınmasını sağlamaktadır. Potansiyel tüketicilerin dünyanın her yanında pazara arz edilen ürünler hakkında bilgi sahibi olmalarına ve yeni üreticilerin dünya pazarlarına girmelerine imkân vermektedir. Daha düşük fiyatlı ve kaliteli ürünlerin pazara girmesi üreticiler arasında rekabetin artmasına ve tüm ticari işlemlerin maliyetinin düşmesine neden olmaktadır.
        </p><p>
            Elektronik ticaret, üretici ve tüketicileri, özellikle KOBİ'leri geleneksel ticaret engelleri olan pazara uzaklık, bilgi eksikliği ve talebe uygun üretim yapılamayışı gibi dezavantajlardan kurtarabildiği ölçüde yararlı olacaktır. Ancak, elektronik ticaret ülkelerin tüm ticari sorunlarını (örneğin ulusal tedarik zincirindeki halkaları) çözemez. Elektronik ticaret konusunda yeterli bilgi ve deneyime sahip olmayan ülkeler ilk aşamada interneti sadece reklam veya pazar araştırması amacıyla kullanabilirler.
        </p><p>
            E-ticareti bu kadar gözde kılan unsurlar arasında; e-ticaretin, şirket ile hedef kitlesi arasındaki doğrudan ilişki sağlaması, pazarlamacılara istedikleri bilgileri sunması, hızlı ve düşük maliyetli olması ve tüm bunların elektronik ortamda yapılıyor olması sayılabilir. Diğer olumlu unsurlar arasında ise dağıtımda kolaylık ve ucuzluk, tüketici ile daha rahat etkileşim, anında geri dönüş, dikkat çekicilik, küresel pazarla tanışma, 24 saat hizmet ve anında satış yer alır.
        </p><p>
            Normal koşullarda ortalama 10 yıl alan markalaşma süreci, elektronik ticaret sayesinde 2 yıla inmiş durumdadır. Bugün "Dünyanın en büyük 500" şirketi listesinde bundan birkaç yıl önce kurulmuş olan onlarca e-şirket yer alıyor.
        </p><p>
            Etkisi küresel olan İnternet ekonomisi, hem ticaret hem de siyaseti etkiler. Tüm dünya çapında, iş dünyasının önderleri, kendi şirketlerinin ayakta kalma ve rekabet edebilme yetilerinde internetin oynadığı rolü kabul etmektedir. Şirketlerin, bu yeni ekonomide rekabet edebilmek için internetin gücünden yararlanma gereksinimi ortaya çıkmıştır.
        </p><p>
            2017 yılında, iki milyar insan mobil bir e-ticaret işlemi gerçekleştirdi.
        </p>


    </div>
</div>