
@{
    //ViewBag.Title = "KullaniciKayit";
    
}  


<center><h2>ÜYE KAYIT</h2></center><br /><br />

<form class="row g-3" action="/Home/KullaniciKayit" method="post">
    <div class="col-md-12">
        <label for="name" class="form-label" >AD</label>
        <input type="text" class="form-control" id="name"name="Kul_Ad" placeholder="NAME">
    </div>
    <div class="col-md-12"><br />
        <label for="surname" class="form-label">SOYAD</label>
        <input type="text" class="form-control" id="surname" name="Kul_Soyad" placeholder="SURNAME">
    </div>
    <div class="col-md-12"><br />
        <label for="password" class="form-label" >ŞİFRE</label>
        <input type="password" class="form-control" id="sifre" name="Kul_Sifre" placeholder="PASSWORD">
    </div>
    <div class="col-md-12"><br />
        <label for="email" class="form-label">E-MAİL</label>
        <input type="email" class="form-control" id="mail" name="Kul_Mail" placeholder="E-mail">
    </div>
    <div class="col-md-12">
        <br /><br />
        <button type="submit" class="btn btn-primary "><b>KAYDET</b></button>
        <br />
       <span><strong>@ViewBag.mesaj</strong> </span>
    </div>
</form>